<div class="row">
  <aside class="col-md-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @topic_name %></h3>
      </div>
    </div>
    <p id="time"><%= @time %></p>
    <%#= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-md-8 col-xs-12">
    <ul class="media-list" id="ajax_list">
      <p>読み込み中...</p>
      <%#= paginate @posts %>
    </ul>
  </div>
</div>