<div class="row">
  <aside class="col-md-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @topic_name %></h3>
      </div>
    </div>
    <%= render 'term_find_form', form: @form, action: "show_process" %>
  </aside>
  <div class="col-md-8 col-xs-12">

    <%= render 'post_list', post_data: @post_data %>

    <%= paginate @posts %>
  </div>
</div>